body {
    background-color: orange;
    text-align: center;
    
}
h1{
    text-align: center;
    font-family: "American Captain";
}
h2{
    text-align: center;
    font-family: "American Captain";
}
